# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Coverage
coverage

# debug
src/debug*.ts

# Transpiled files
build
dist
# VS Code
.vscode

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store